In [20]:
import sys
import os

# Importation des fonctions

In [22]:
mlops_path = os.path.abspath(os.path.join(os.getcwd(), '..'))

# Ajoutez le dossier features/domain au chemin
features_domain_path = os.path.join(mlops_path, 'features', 'domain')
sys.path.append(features_domain_path)

# Maintenant, vous pouvez importer des modules/fonctions depuis features/domain
from features import *

In [23]:
features_infrastructure_path = os.path.join(mlops_path, 'features', 'infrastructure')
sys.path.append(features_infrastructure_path)

# Maintenant, vous pouvez importer des modules/fonctions depuis features/domain
from importation import *

In [24]:
features_models_path = os.path.join(mlops_path, 'models')
sys.path.append(features_models_path)

# Maintenant, vous pouvez importer des modules/fonctions depuis features/domain
from train_model import *

# Appel de toutes les fonctions features :

In [25]:
df=importation()
df=traiter_donnees_manquantes(df)
df=regroupement(df)
df=traitement_capital(df)
df=supprimer_colonnes(df)

df.head()

,gender,income,Age,Heures_semaine,Marital_status,Education,Occupation,Relationship,capital
0,Male,<=50K,<=28 ans,<=40H,Jamais_marie,Lycee,Artisan_Reparation,Autre,-0.191029
1,Male,<=50K,29_39 ans,>46H,Marie,Lycee,Artisan_Reparation,Conjoint,-0.191029
2,Male,>50K,<=28 ans,<=40H,Marie,Sup,Armee_defense,Conjoint,-0.191029
3,Male,>50K,40_49 ans,<=40H,Marie,Sup,Artisan_Reparation,Conjoint,2.779084
4,Female,<=50K,<=28 ans,<=40H,Jamais_marie,Sup,Autre,Autre,-0.191029

# Entrainement des modèles

In [26]:
tree=fit_tree(df)
forest=fit_forest(df)
ada=fit_ada(df)
knn=fit_knn(df)
svc=fit_svc(df)
log=fit_log(df)
mlp=fit_mlp(df)

DecisionTreeClassifier a été entrainé
RandomForestClassifier a été entrainé
AdaBoostClassifier a été entrainé
KNeighborsClassifier a été entrainé
SVC a été entrainé
LogisticRegression a été entrainé
MLPClassifier a été entrainé

# Score des modèles

In [27]:
model_score(tree,df)

Accuracy apprentissage:  0.8420489464442493
Accuracy test:  0.8502880658436214
Precision: 0.7660878447395302
Recall: 0.5242922055225445
F1: 0.6225357958082589
AUC: 0.7374932876035588

In [28]:
model_score(forest,df)

Accuracy apprentissage:  0.874862818261633
Accuracy test:  0.8615637860082305
Precision: 0.7550843790566855
Recall: 0.6099265990912268
F1: 0.6747873163186388
AUC: 0.7744971567961247

In [29]:
model_score(ada,df)

Accuracy apprentissage:  0.8551360842844601
Accuracy test:  0.8609876543209877
Precision: 0.7528041415012943
Recall: 0.6099265990912268
F1: 0.6738752654952693
AUC: 0.774120367044806

In [30]:
model_score(knn,df)

Accuracy apprentissage:  0.8495665057067603
Accuracy test:  0.8377777777777777
Precision: 0.6772908366533864
Recall: 0.5941978329255505
F1: 0.6330292310556693
AUC: 0.7534989595244612

In [17]:
model_score(svc,df)

Accuracy apprentissage:  0.8528314310798947
Accuracy test:  0.8574485596707819
Precision: 0.7578803106441298
Recall: 0.5798671793079343
F1: 0.6570297029702971
AUC: 0.7614052227684036

In [31]:
model_score(log,df)

Accuracy apprentissage:  0.8418294556628622
Accuracy test:  0.8452674897119341
Precision: 0.706700379266751
Recall: 0.5861586857742048
F1: 0.6408100878868935
AUC: 0.7556156761845509

In [32]:
model_score(mlp,df)

Accuracy apprentissage:  0.8553830114135206
Accuracy test:  0.8581069958847737
Precision: 0.7507719453021614
Recall: 0.5948968891995806
F1: 0.6638065522620905
AUC: 0.7670361289576327